:root {
    --primary-color: #222;
    --bg-color: #d4d4d4aa;
    --name-color: #fff;
    --button-bg-color: #222;
    --button-color: #eee;
    --button-bg-hover-color: #444;
    --button-disabled-bg-color: #33444444;
    --button-disabled-color: #d4d4d4;
    --dropdown-bg-color: #44444333;
    --dropdown-color: #808080;
    --input-bg-color: #44444333;
    --input-color: #808080;
    --input-light-color: #33444444;
    --light-color: #eee;
    --dark-color: #222;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    font-family: sans-serif;
    overflow: hidden;
    height: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--bg-color);
    padding: 6px 20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
    background-color: var(--bg-color);
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -8px;
    color: var(--primary-color);
    font-family: "Paytone One", sans-serif;
}

h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid var(--bg-color);
}

select,
select:hover,
select:focus {
    appearance: none;
    background-color: var(--dropdown-bg-color);
    border: solid 1px var(--dropdown-color);
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    margin-right: 6px;
    color: var(--primary-color);
    cursor: pointer;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input,
input:hover,
input:focus {
    appearance: none;
    background-color: var(--input-bg-color);
    border: solid 1px var(--input-color);
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    margin-right: 6px;
    color: var(--primary-color);
    width: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input::placeholder {
    color: var(--input-light-color);
}

.definition {
    font-weight: 500;
    text-transform: lowercase;
}

#color-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.color-slot {
    position: relative;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    overflow: hidden;
}

.color-info {
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--name-color);
    background-color: var(--bg-color);
    padding: 10px;
    position: relative;
    top: 80px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copy-button {
    margin: 0 10px 0 0;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    float: right;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.bold {
    font-weight: 800;
    text-transform: uppercase;
}

.big {
    font-size: 1.1rem;
}

.dark {
    color: var(--dark-color);
}

.light {
    color: var(--light-color);
}

.refresh-colors {
    display: inline-block;
    border: 0;
    width: 48px;
    height: 48px;
    background-color: var(--button-bg-color);
    border-radius: 6px;
    color: var(--button-color);
    margin: 0;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
    line-height: 48px;
}

.refresh-colors:hover {
    background-color: var(--button-bg-hover-color);
}

.refresh-colors:disabled {
    background-color: var(--button-disabled-bg-color);
    color: var(--button-disabled-color);
}

/* Add animation for fading in and out the instruction message */
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.error-message {
    font-size: 1.25rem;
    color: var(--primary-color);
    z-index: 2;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    color: var(--dark-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Styles for smaller devices */
@media only screen and (min-width: 1201px) and (max-width: 1480px) {
    #color-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        flex-grow: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .color-slot {
        width: 20%;
        height: 100vh;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        text-align: left;
        scroll-snap-align: start;
        position: relative;
    }

    .color-info {
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        flex-grow: 1;
        flex-direction: column;
        padding: 10px;
        margin: 20px;
        position: relative;
        top: 80px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .copy-button {
        margin: 0 10px 0 0;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        float: right;
        cursor: pointer;
        width: 10px;
        height: 10px;
    }

    select,
    select:hover,
    select:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 10px;
        margin: 0;
        margin-right: 6px;
        cursor: pointer;
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input,
    input:hover,
    input:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 10px;
        margin: 0;
        margin-right: 6px;
        width: 120px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media only screen and (min-width: 931px) and (max-width: 1200px) {
    header {
        padding: 6px 0 8px 10px;
    }

    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 0;
    }

    .refresh-colors {
        width: 32px;
        height: 32px;
        padding: 0;
        border-radius: 6px;
        margin: 8px 15px;
        font-size: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #color-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        flex-grow: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .color-slot {
        width: 20%;
        height: 100vh;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        text-align: left;
        scroll-snap-align: start;
        position: relative;
    }

    .color-info {
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        flex-grow: 1;
        flex-direction: column;
        padding: 8px 10px;
        margin: 10px;
        position: relative;
        top: 70px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .copy-button {
        margin: 0 10px 0 0;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        float: right;
        cursor: pointer;
        width: 10px;
        height: 10px;
    }

    .big {
        font-size: 0.85rem;
    }

    select,
    select:hover,
    select:focus {
        appearance: none;
        font-size: 0.85rem;
        border-radius: 4px;
        padding: 4px;
        margin: 0;
        cursor: pointer;
        width: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input,
    input:hover,
    input:focus {
        appearance: none;
        font-size: 0.85rem;
        border-radius: 4px;
        padding: 4px;
        margin: 0;
        margin-right: 15px;
        width: 90px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media only screen and (min-width: 320px) and (max-width: 930px) {
    html,
    body {
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }
    header {
        padding: 6px 0 20px 10px;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

    h1 {
        font-size: 3.25rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 0;
    }

    .refresh-colors {
        width: 38px;
        height: 38px;
        padding: 0;
        border-radius: 6px;
        margin: 8px 10px 8px 3px;
        font-size: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #color-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        height: auto;
        scroll-snap-type: y mandatory; 
        width: 100vw;
    }

    .color-slot {
        width: 100%;
        height: 100vh;
        margin-bottom: 0;
        box-sizing: border-box;
        padding: 0;
        text-align: left;
        scroll-snap-align: start;
        position: relative;
    }

    .color-info {
        width: 100%;
        max-width: 75%;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .copy-button {
        display: none;
    }

    select,
    select:hover,
    select:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 5px;
        margin: 0;
        margin-right: 5px;
        cursor: pointer;
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input,
    input:hover,
    input:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 5px;
        margin: 0;
        margin-right: 10px;
        width: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input::placeholder {
        color: var(--input-color);
    }

    footer {
        padding: 8px 8px;
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 319px) {
    html,
    body {
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }
    header {
        padding: 6px 0 20px 10px;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    h1 {
        font-size: 3.25rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 0;
    }

    .refresh-colors {
        width: 38px;
        height: 38px;
        padding: 0;
        border-radius: 6px;
        margin: 8px 10px 8px 3px;
        font-size: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #color-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0;
        height: auto;
        scroll-snap-type: y mandatory;
        width: 100vw;
    }

    .color-slot {
        width: 100%;
        height: 100vh;
        margin-bottom: 0;
        box-sizing: border-box;
        padding: 0;
        text-align: left;
        scroll-snap-align: start;
        position: relative;
    }

    .color-info {
        width: 100%;
        max-width: 75%;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .copy-button {
        display: none;
    }

    select,
    select:hover,
    select:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 5px;
        margin: 0;
        margin-right: 5px;
        cursor: pointer;
        width: 55%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input,
    input:hover,
    input:focus {
        appearance: none;
        border-radius: 4px;
        font-size: 1rem;
        padding: 5px;
        margin: 0;
        margin-right: 10px;
        width: 25%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input::placeholder {
        color: var(--input-color);
    }

    footer {
        padding: 8px 8px;
        font-size: 0.65rem;
    }
}